##Variables para base de datos Postgres
# Conexión para el Cliente de Prisma (Consultas rápidas)
DATABASE_URL="postgres://username:password@localhost:5432/database_name"

# Conexión para Migraciones y DB Pull
DIRECT_URL="postgres://username:password@localhost:5432/database_name"
PORT=3000

